
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequest</title>
</head>
<body>
    <div> 
        Bad Request
    </div>
</body>
</html>
